# ─── PRODUCTION FRONTEND ENVIRONMENT VARIABLES ────────────────────────────
# Ganti dengan domain hasil deployment Backend & Flask kamu:
VITE_API_BASE_URL=https://your-laravel-api-domain.com/api
VITE_ML_API_URL=https://your-flask-api-domain.com/api

# Google OAuth Client ID
VITE_GOOGLE_CLIENT_ID=244826909624-055j98h4rd5m8m9ruvami0invr46muof.apps.googleusercontent.com